// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-heading{
	font-family: Pacifico;
    color: #1f1d55;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    width: 81%;
    margin-top: 2vw;
}

#sign-up input{

    background-color: #1a183f;
    color: #ffffff;
    font-weight: 600;
    border-radius: .2vw;
    font-family: 'Raleway', sans-serif;
    border: none;
    width: 7%;
    padding-bottom: 0.3vw;
    padding-top: 0.3vw;
    margin-bottom: 16px;

}

.links{

    background-color: #1a183f;
    color: #ffffff;
    font-weight: 600;
    border-radius: .2vw;
    font-family: 'Raleway', sans-serif;
    border: none;
    width: 7%;
    padding-bottom: 0.3vw;
    padding-top: 0.3vw;
    font-size: 15px;
    text-decoration: none;
}
.user{
	float: right;
	font-family: Pacifico;

}

#error_explanation{
	#color: #9a9a9a;
    font-family: Pacifico;
    font-weight: 500;
    
}

#chat_cake{
    width: 11%;
    margin-top: 1vw;
    background-image:none;
    padding-left:0;
}
#chat{
    display: none;
    float: right;
    margin-right: 4%;
    margin-top: -4%;
}
#message-wrapper{
    position: relative;
    height: 17vw;
    background-color:#dce0e8;

}
#messages{
    height: 15vw;
    border: solid 1px #e6e6e6;;
    width: 100%;
    margin-bottom: -21%;
    background-color:#dce0e8;
    overflow-y: auto;

}
#chat-speak{
    margin-top: -3%;
}
#chat-with{
    border: solid 1px #636c7a;
    background-color:#636c7a;
    color: white;
    cursor: pointer;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    color: white;
}
#typing_field{
    position: absolute;
    bottom: 0;
    height:2vw;
    background-color:#dce0e8;
    color: #49ac27;
    font-size: .9vw;
}
